[Desktop Entry]
Type=Application
Name=Hythe
Comment=Look after a connected Surface Duo
Exec=hythe-gui
Icon=lab.agentsco.Hythe
Terminal=false
Categories=Utility;System;
Keywords=Surface;Duo;phone;flash;item;
StartupNotify=true
