[Desktop Entry]
Type=Application
Name=Gridbay
Comment=Look after a connected Surface Duo
Exec=gridbay-gui
Icon=lab.agentsco.Gridbay
Terminal=false
Categories=Utility;System;
Keywords=Surface;Duo;phone;flash;item;
StartupNotify=true
