[Desktop Entry]
Type=Application
Name=item/grid
Comment=Look after a connected Surface Duo
Exec=itemgrid-gui
Icon=lab.agentsco.ItemGrid
Terminal=false
Categories=Utility;System;
Keywords=Surface;Duo;phone;flash;item;
StartupNotify=true
